.todo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;

  background-color: var(--gray-500);
  color: var(--white);

  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;

  cursor: pointer;
}

.todo label {
  width: 24px;
  height: 24px;
  background-color: var(--gray-500);
  border: 2px solid var(--blue);
  border-radius: 999px;
  cursor: pointer;
  transition: 150ms;
}

.todo label:hover {
  border: 2px solid var(--blue-dark);
}

.todo input[type="radio"] {
  display: none;
}

.todo input[type="radio"]:checked + label {
  background-color: var(--blue) !important;
}

.todo button {
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.3125rem 0.375rem;
  cursor: pointer;
  transition: 150ms;
}

.todo button:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
